.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 0.2rem solid black
}

.choice-container:hover {
    cursor: pointer;
    transform: translateY(-0.1rem)
}

.choice-text {
    padding: 0.7rem;
    width: 100%;
}

.choice-prefix {
    padding: 0.7rem 1rem;
    background-color: aqua;
}

#infoBox {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.choiceSelected {
    background-color: cyan;
}

.correct, #greenCorrect {
    background-color: #28a745;
}

.almost, #orangeAlmost {
    background-color: rgb(253, 107, 54);
}

.incorrect, #redIncorrect {
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}